<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/output.css">
</head>


<body style="height: 60%;" class="w-full h-full flex text-gray-900 dark:text-white bg-white dark:bg-gray-900">
    <div class="rounded-xl bg-green-400 p-10 text-sm/7 text-gray-700 dark:bg-gray-900 dark:text-cyan-500">
       <h1> This is the default landing page for Chat With <br> 
        Customize me by adding a custom landing page and setting CUSTOM_LANDING=True  <br>
        and providing CUSTOM_LANDING_PAGE="path_to_landing_page" in your .env file <br>
        test your login with <br>
        <u><a href="/login">this login link</a></u>
       </h1> 
    </div>
</body>