<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png" href="../static/favicon.png" sizes="16x16">
<link rel="stylesheet"  href="../static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if session %}
    <div id="mainBody">
        <table>
            <td>
                <div id="left" class="left">
                    <div id="Topics">
                        <h1>Topics</h1>
                        <div id="Topic-List"></div>
                    </div>
                    <div id="Categories">
                        <h1>Categories</h1>
                        <div id="Category-List"></div>
                    </div>
                </div>
            </td>
            <td>
                <div id="middle" class="middle">
                    <div id="chatChannel" class="chat"></div>
                    <div id="chatFeed" class="chat"></div>
                    <div id="newMessageArea"><textarea id="newMessage"></textarea>
                        <button id="sendMessage">Send</button>
                    </div>
                </div>
            </td>
        </table>
    </div>
    <div>
        <button id="logout"><a href="/logout">Logout</a></button>
    </div>
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}
     <script src="../static/javascript/renderer.js"></script>
</body>
</html>